@import "tailwindcss";

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

*,*::after,*::before {
  box-sizing: inherit;
}

.content-padding {
  @apply px-5 py-5 md:px-10 md:py-5
}

.header-margin {
  @apply mt-[75.56px]
}

.navbar-height-padding {
  @apply pt-[75.56px]
}